___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [2]:
import pandas as pd

In [3]:
dosya = pd.read_csv("police.csv")

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
buyuk = pd.DataFrame(dosya)

In [5]:
ri = buyuk.sample(50000)

In [6]:
ri.drop(["county_name","state"], axis=1, inplace=True)

In [7]:
ri.dropna(subset=["driver_gender"], inplace=True)

In [8]:
ri2 = ri.astype({"is_arrested" : "bool"}, copy=False)

In [9]:
ri2["is_arrested"].dtypes

dtype('bool')

In [10]:
combined = ri2.stop_date.str.cat(ri2.stop_time, sep = " ")

In [11]:
combined = pd.to_datetime(combined)

In [12]:
ri2["stop_datetime"] = combined

In [13]:
ri2.set_index("stop_datetime", inplace=True)

In [14]:
ri2

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2015-08-15 11:20:00,RI-2015-27867,2015-08-15,11:20,Zone K3,NaN,NaN,200,M,1985.0,30.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2006-09-13 23:20:00,RI-2006-41453,2006-09-13,23:20,Zone X4,NaN,NaN,500,M,1981.0,25.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2013-11-03 20:13:00,RI-2013-37854,2013-11-03,20:13,Zone X3,NaN,NaN,300,F,1982.0,31.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
2005-10-21 11:30:00,RI-2005-02941,2005-10-21,11:30,Zone X3,NaN,NaN,200,F,1974.0,31.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
2005-11-25 01:40:00,RI-2005-08752,2005-11-25,01:40,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-11-07 08:13:00,RI-2009-37750,2009-11-07,08:13,Zone K2,NaN,NaN,900,M,1962.0,47.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2008-12-08 10:12:00,RI-2008-46593,2008-12-08,10:12,Zone X4,NaN,NaN,500,M,1972.0,36.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
2006-12-09 09:45:00,RI-2006-55035,2006-12-09,09:45,Zone K1,NaN,NaN,600,M,1980.0,26.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2013-09-03 07:58:00,RI-2013-30305,2013-09-03,07:58,Zone K2,NaN,NaN,900,M,1980.0,33.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,True,False,Zone K2
2010-11-11 13:57:00,RI-2010-37149,2010-11-11,13:57,Zone X4,NaN,NaN,500,M,1984.0,26.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [15]:
ri2["violation"].value_counts()

Speeding               26195
Moving violation        8941
Equipment               6009
Other                   2415
Registration/plates     2031
Seat belt               1571
Name: violation, dtype: int64

In [16]:
ri2["violation"].value_counts(normalize=True)*100

Speeding               55.542598
Moving violation       18.958059
Equipment              12.741190
Other                   5.120648
Registration/plates     4.306433
Seat belt               3.331072
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [17]:
rifemale = ri2[ri2["driver_gender"] == "F"]

In [18]:
rimale = ri2[ri2["driver_gender"] == "M"]

In [19]:
rifemale["violation"].value_counts(normalize=True)*100

Speeding               65.679265
Moving violation       13.734580
Equipment              10.520940
Registration/plates     4.455095
Other                   3.064351
Seat belt               2.545769
Name: violation, dtype: float64

In [20]:
rimale["violation"].value_counts(normalize=True)*100

Speeding               51.796138
Moving violation       20.888631
Equipment              13.561783
Other                   5.880645
Registration/plates     4.251488
Seat belt               3.621316
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [21]:
rifemalespeed = rifemale[rifemale["violation"] == "Speeding"]

In [22]:
rimalespeed = rimale[rimale["violation"] == "Speeding"]

In [23]:
rifemalespeed["stop_outcome"].value_counts(normalize=True)*100

Citation            95.346333
Warning              3.780357
Arrest Driver        0.586195
Arrest Passenger     0.119632
N/D                  0.095705
No Action            0.071779
Name: stop_outcome, dtype: float64

In [24]:
rimalespeed["stop_outcome"].value_counts(normalize=True)*100

Citation            94.550348
Warning              3.689168
Arrest Driver        1.429693
Arrest Passenger     0.145773
No Action            0.095313
N/D                  0.089706
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [25]:
ri2["search_conducted"]

stop_datetime
2015-08-15 11:20:00    False
2006-09-13 23:20:00    False
2013-11-03 20:13:00    False
2005-10-21 11:30:00    False
2005-11-25 01:40:00    False
                       ...
2009-11-07 08:13:00    False
2008-12-08 10:12:00    False
2006-12-09 09:45:00    False
2013-09-03 07:58:00    False
2010-11-11 13:57:00    False
Name: search_conducted, Length: 47162, dtype: object

In [26]:
ri3 = ri2.astype({"search_conducted" : "bool"}, copy=False)

In [27]:
ri3["search_conducted"]

stop_datetime
2015-08-15 11:20:00    False
2006-09-13 23:20:00    False
2013-11-03 20:13:00    False
2005-10-21 11:30:00    False
2005-11-25 01:40:00    False
                       ...
2009-11-07 08:13:00    False
2008-12-08 10:12:00    False
2006-12-09 09:45:00    False
2013-09-03 07:58:00    False
2010-11-11 13:57:00    False
Name: search_conducted, Length: 47162, dtype: bool

In [28]:
ri3["search_conducted"].value_counts(normalize=True)*100

False    96.117637
True      3.882363
Name: search_conducted, dtype: float64

In [29]:
ri3["search_conducted"].mean()*100

3.882362919299436

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [30]:
rifemale = ri2[ri2["driver_gender"] == "F"]

In [31]:
rifemale["search_conducted"].value_counts(normalize=True)*100

False    98.059244
True      1.940756
Name: search_conducted, dtype: float64

In [32]:
rifemale["search_conducted"].mean()*100

1.940755873340143

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [33]:
rimale = ri2[ri2["driver_gender"] == "M"]

In [34]:
rimale["search_conducted"].value_counts(normalize=True)*100

False    95.400029
True      4.599971
Name: search_conducted, dtype: float64

In [35]:
rimale["search_conducted"].mean()*100

4.599970959779294

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [70]:
ri2["search_conducted"] = ri2["search_conducted"].astype("bool", copy=False)

In [74]:
ri2.groupby("driver_gender")["search_conducted"].agg("mean")*100

driver_gender
F    1.940756
M    4.599971
Name: search_conducted, dtype: float64

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [86]:
ri2.groupby(["driver_gender", "violation"])["search_conducted"].mean()*100

driver_gender  violation
F              Equipment              4.032860
               Moving violation       3.947368
               Other                  4.871795
               Registration/plates    5.996473
               Seat belt              1.851852
               Speeding               0.777605
M              Equipment              7.858672
               Moving violation       6.283887
               Other                  4.740741
               Registration/plates    8.948087
               Seat belt              3.929431
               Speeding               2.741646
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [87]:
ri2.groupby(["violation", "driver_gender"])["search_conducted"].mean()*100

violation            driver_gender
Equipment            F                4.032860
                     M                7.858672
Moving violation     F                3.947368
                     M                6.283887
Other                F                4.871795
                     M                4.740741
Registration/plates  F                5.996473
                     M                8.948087
Seat belt            F                1.851852
                     M                3.929431
Speeding             F                0.777605
                     M                2.741646
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [100]:
ri2.groupby(["search_type"])["search_conducted"].count()

search_type
Incident to Arrest                                        699
Incident to Arrest,Inventory                               66
Incident to Arrest,Inventory,Probable Cause                18
Incident to Arrest,Inventory,Protective Frisk               8
Incident to Arrest,Inventory,Reasonable Suspicion           2
Incident to Arrest,Probable Cause                          55
Incident to Arrest,Probable Cause,Protective Frisk         10
Incident to Arrest,Probable Cause,Reasonable Suspicion      3
Incident to Arrest,Protective Frisk                        17
Incident to Arrest,Reasonable Suspicion                     4
Inventory                                                 127
Inventory,Probable Cause                                   11
Inventory,Probable Cause,Protective Frisk                   1
Inventory,Protective Frisk                                  4
Inventory,Reasonable Suspicion                              5
Probable Cause                                            509
Probable Cause,Protective Frisk                            16
Probable Cause,Protective Frisk,Reasonable Suspicion        4
Probable Cause,Reasonable Suspicion                        35
Protective Frisk                                          108
Protective Frisk,Reasonable Suspicion                       8
Reasonable Suspicion                                      121
Name: search_conducted, dtype: int64

In [128]:
ri2["frisk"] = ri2["search_type"].str.contains("Protective Frisk", na=False, regex = False)

In [137]:
ri2["frisk"]

stop_datetime
2015-08-15 11:20:00    False
2006-09-13 23:20:00    False
2013-11-03 20:13:00    False
2005-10-21 11:30:00    False
2005-11-25 01:40:00    False
                       ...
2009-11-07 08:13:00    False
2008-12-08 10:12:00    False
2006-12-09 09:45:00    False
2013-09-03 07:58:00    False
2010-11-11 13:57:00    False
Name: frisk, Length: 47162, dtype: bool

In [140]:
ri2["frisk"].sum()

176

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [148]:
risearched = ri2[ri2["search_conducted"]==True]

In [152]:
risearched["frisk"].mean()*100

9.612233752048061

In [156]:
risearched.groupby("driver_gender")["frisk"].mean()*100

driver_gender
F     6.072874
M    10.164141
Name: frisk, dtype: float64

In [158]:
risearched.groupby("driver_gender")["frisk"].count()

driver_gender
F     247
M    1584
Name: frisk, dtype: int64