___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd

In [2]:
dosya = pd.read_csv("police.csv")

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
buyuk = pd.DataFrame(dosya)

In [4]:
ri = buyuk.sample(50000)

In [5]:
ri.drop(["county_name","state"], axis=1, inplace=True)

In [6]:
ri.dropna(subset=["driver_gender"], inplace=True)

In [7]:
ri2 = ri.astype({"is_arrested" : "bool"}, copy=False)

In [8]:
ri2["is_arrested"].dtypes

dtype('bool')

In [9]:
combined = ri2.stop_date.str.cat(ri2.stop_time, sep = " ")

In [10]:
combined = pd.to_datetime(combined)

In [11]:
ri2["stop_datetime"] = combined

In [12]:
ri2.set_index("stop_datetime", inplace=True)

In [13]:
ri2

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2013-07-05 13:47:00,RI-2013-22801,2013-07-05,13:47,Zone X4,NaN,NaN,500,M,1993.0,20.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
2012-12-22 22:03:00,RI-2012-60120,2012-12-22,22:03,Zone K3,NaN,NaN,300,M,1977.0,35.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2011-02-23 19:47:00,RI-2011-05646,2011-02-23,19:47,Zone K3,NaN,NaN,300,M,1984.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2015-11-07 10:16:00,RI-2015-40921,2015-11-07,10:16,Zone X4,NaN,NaN,900,M,1965.0,50.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
2009-03-28 01:11:00,RI-2009-11986,2009-03-28,01:11,Zone K1,NaN,NaN,300,M,1983.0,26.0,...,True,Reasonable Suspicion,Reasonable Suspicion,False,Citation,False,16-30 Min,True,False,Zone K1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-11-13 09:40:00,RI-2005-07068,2005-11-13,09:40,Zone X1,NaN,NaN,0,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2014-01-19 11:11:00,RI-2014-02629,2014-01-19,11:11,Zone X4,NaN,NaN,500,F,1993.0,21.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
2015-06-12 11:35:00,RI-2015-19134,2015-06-12,11:35,Zone K3,NaN,NaN,500,F,1971.0,44.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,True,False,Zone K3
2006-09-26 14:10:00,RI-2006-43196,2006-09-26,14:10,Zone X4,NaN,NaN,500,F,1972.0,34.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2007-03-05 09:30:00,RI-2007-10797,2007-03-05,09:30,Zone K3,NaN,NaN,300,M,1970.0,37.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3

In [14]:
ri2.to_csv

<bound method NDFrame.to_csv of                                 id   stop_date stop_time location_raw  \
stop_datetime
2013-07-05 13:47:00  RI-2013-22801  2013-07-05     13:47      Zone X4
2012-12-22 22:03:00  RI-2012-60120  2012-12-22     22:03      Zone K3
2011-02-23 19:47:00  RI-2011-05646  2011-02-23     19:47      Zone K3
2015-11-07 10:16:00  RI-2015-40921  2015-11-07     10:16      Zone X4
2009-03-28 01:11:00  RI-2009-11986  2009-03-28     01:11      Zone K1
...                            ...         ...       ...          ...
2005-11-13 09:40:00  RI-2005-07068  2005-11-13     09:40      Zone X1
2014-01-19 11:11:00  RI-2014-02629  2014-01-19     11:11      Zone X4
2015-06-12 11:35:00  RI-2015-19134  2015-06-12     11:35      Zone K3
2006-09-26 14:10:00  RI-2006-43196  2006-09-26     14:10      Zone X4
2007-03-05 09:30:00  RI-2007-10797  2007-03-05     09:30      Zone K3

                     county_fips  fine_grained_location police_department  \
stop_datetime
2013-07-05 13:47:00          NaN                    NaN               500
2012-12-22 22:03:00          NaN                    NaN               300
2011-02-23 19:47:00          NaN                    NaN               300
2015-11-07 10:16:00          NaN                    NaN               900
2009-03-28 01:11:00          NaN                    NaN               300
...                          ...                    ...               ...
2005-11-13 09:40:00          NaN                    NaN                 0
2014-01-19 11:11:00          NaN                    NaN               500
2015-06-12 11:35:00          NaN                    NaN               500
2006-09-26 14:10:00          NaN                    NaN               500
2007-03-05 09:30:00          NaN                    NaN               300

                    driver_gender  driver_age_raw  driver_age  ...  \
stop_datetime                                                  ...
2013-07-05 13:47:00             M          1993.0        20.0  ...
2012-12-22 22:03:00             M          1977.0        35.0  ...
2011-02-23 19:47:00             M          1984.0        27.0  ...
2015-11-07 10:16:00             M          1965.0        50.0  ...
2009-03-28 01:11:00             M          1983.0        26.0  ...
...                           ...             ...         ...  ...
2005-11-13 09:40:00             M          1978.0        27.0  ...
2014-01-19 11:11:00             F          1993.0        21.0  ...
2015-06-12 11:35:00             F          1971.0        44.0  ...
2006-09-26 14:10:00             F          1972.0        34.0  ...
2007-03-05 09:30:00             M          1970.0        37.0  ...

                    search_conducted       search_type_raw  \
stop_datetime
2013-07-05 13:47:00            False                   NaN
2012-12-22 22:03:00            False                   NaN
2011-02-23 19:47:00            False                   NaN
2015-11-07 10:16:00            False                   NaN
2009-03-28 01:11:00             True  Reasonable Suspicion
...                              ...                   ...
2005-11-13 09:40:00            False                   NaN
2014-01-19 11:11:00            False                   NaN
2015-06-12 11:35:00            False                   NaN
2006-09-26 14:10:00            False                   NaN
2007-03-05 09:30:00            False                   NaN

                              search_type contraband_found stop_outcome  \
stop_datetime
2013-07-05 13:47:00                   NaN            False      Warning
2012-12-22 22:03:00                   NaN            False     Citation
2011-02-23 19:47:00                   NaN            False     Citation
2015-11-07 10:16:00                   NaN            False     Citation
2009-03-28 01:11:00  Reasonable Suspicion            False     Citation
...                                   ...              ...          ...
2005-11-13 09:40:00                   NaN            False     Citation
2014-01-19 11:11:00                   NaN            False      Warning
2015-06-12 11:35:00                   NaN            False      Warning
2006-09-26 14:10:00                   NaN            False     Citation
2007-03-05 09:30:00                   NaN            False     Citation

                    is_arrested stop_duration  out_of_state  \
stop_datetime
2013-07-05 13:47:00       False      0-15 Min         False
2012-12-22 22:03:00       False      0-15 Min          True
2011-02-23 19:47:00       False      0-15 Min         False
2015-11-07 10:16:00       False      0-15 Min          True
2009-03-28 01:11:00       False     16-30 Min          True
...                         ...           ...           ...
2005-11-13 09:40:00       False      0-15 Min          True
2014-01-19 11:11:00       False      0-15 Min         False
2015-06-12 11:35:00       False      0-15 Min          True
2006-09-26 14:10:00       False      0-15 Min         False
2007-03-05 09:30:00       False      0-15 Min          True

                    drugs_related_stop  district
stop_datetime
2013-07-05 13:47:00              False   Zone X4
2012-12-22 22:03:00              False   Zone K3
2011-02-23 19:47:00              False   Zone K3
2015-11-07 10:16:00              False   Zone X4
2009-03-28 01:11:00              False   Zone K1
...                                ...       ...
2005-11-13 09:40:00              False   Zone X1
2014-01-19 11:11:00              False   Zone X4
2015-06-12 11:35:00              False   Zone K3
2006-09-26 14:10:00              False   Zone X4
2007-03-05 09:30:00              False   Zone K3

[47153 rows x 24 columns]>

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [15]:
ri2["violation"].value_counts()

Speeding               26307
Moving violation        8870
Equipment               6072
Other                   2394
Registration/plates     1917
Seat belt               1593
Name: violation, dtype: int64

In [16]:
ri2["violation"].value_counts(normalize=True)*100

Speeding               55.790724
Moving violation       18.811104
Equipment              12.877229
Other                   5.077089
Registration/plates     4.065489
Seat belt               3.378364
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [17]:
rifemale = ri2[ri2["driver_gender"] == "F"]

In [18]:
rimale = ri2[ri2["driver_gender"] == "M"]

In [19]:
rifemale["violation"].value_counts(normalize=True)*100

Speeding               65.401437
Moving violation       13.691034
Equipment              10.793502
Registration/plates     4.490784
Other                   3.014683
Seat belt               2.608560
Name: violation, dtype: float64

In [20]:
rimale["violation"].value_counts(normalize=True)*100

Speeding               52.208216
Moving violation       20.719672
Equipment              13.653964
Other                   5.845876
Registration/plates     3.906955
Seat belt               3.665318
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [21]:
rifemalespeed = rifemale[rifemale["violation"] == "Speeding"]

In [22]:
rimalespeed = rimale[rimale["violation"] == "Speeding"]

In [23]:
rifemalespeed["stop_outcome"].value_counts(normalize=True)*100

Citation            95.127776
Warning              3.857177
Arrest Driver        0.728445
Arrest Passenger     0.119417
N/D                  0.095534
No Action            0.071650
Name: stop_outcome, dtype: float64

In [24]:
rimalespeed["stop_outcome"].value_counts(normalize=True)*100

Citation            94.256399
Warning              3.635755
Arrest Driver        1.734233
Arrest Passenger     0.144984
N/D                  0.144984
No Action            0.083645
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [25]:
ri2["search_conducted"]

stop_datetime
2013-07-05 13:47:00    False
2012-12-22 22:03:00    False
2011-02-23 19:47:00    False
2015-11-07 10:16:00    False
2009-03-28 01:11:00     True
                       ...
2005-11-13 09:40:00    False
2014-01-19 11:11:00    False
2015-06-12 11:35:00    False
2006-09-26 14:10:00    False
2007-03-05 09:30:00    False
Name: search_conducted, Length: 47153, dtype: object

In [26]:
ri3 = ri2.astype({"search_conducted" : "bool"}, copy=False)

In [27]:
ri3["search_conducted"]

stop_datetime
2013-07-05 13:47:00    False
2012-12-22 22:03:00    False
2011-02-23 19:47:00    False
2015-11-07 10:16:00    False
2009-03-28 01:11:00     True
                       ...
2005-11-13 09:40:00    False
2014-01-19 11:11:00    False
2015-06-12 11:35:00    False
2006-09-26 14:10:00    False
2007-03-05 09:30:00    False
Name: search_conducted, Length: 47153, dtype: bool

In [28]:
ri3["search_conducted"].value_counts(normalize=True)*100

False    96.280194
True      3.719806
Name: search_conducted, dtype: float64

In [48]:
ri3["search_conducted"].mean()*100

3.7198057387652956

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [30]:
rifemale = ri2[ri2["driver_gender"] == "F"]

In [31]:
rifemale["search_conducted"].value_counts(normalize=True)*100

False    98.328647
True      1.671353
Name: search_conducted, dtype: float64

In [32]:
rifemale["search_conducted"].mean()*100

1.6713527022805375

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [33]:
rimale = ri2[ri2["driver_gender"] == "M"]

In [34]:
rimale["search_conducted"].value_counts(normalize=True)*100

False    95.516609
True      4.483391
Name: search_conducted, dtype: float64

In [35]:
rimale["search_conducted"].mean()*100

4.483391073975953

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [36]:
ri2["search_conducted"] = ri2["search_conducted"].astype("bool", copy=False)

In [37]:
ri2.groupby("driver_gender")["search_conducted"].agg("mean")*100

driver_gender
F    1.671353
M    4.483391
Name: search_conducted, dtype: float64

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [38]:
ri2.groupby(["driver_gender", "violation"])["search_conducted"].mean()*100

driver_gender  violation
F              Equipment               2.532562
               Moving violation        3.936110
               Other                   3.367876
               Registration/plates     5.217391
               Seat belt               1.796407
               Speeding                0.728445
M              Equipment               7.078891
               Moving violation        5.845159
               Other                   5.378486
               Registration/plates    11.028316
               Seat belt               3.018268
               Speeding                2.777003
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [39]:
ri2.groupby(["violation", "driver_gender"])["search_conducted"].mean()*100

violation            driver_gender
Equipment            F                 2.532562
                     M                 7.078891
Moving violation     F                 3.936110
                     M                 5.845159
Other                F                 3.367876
                     M                 5.378486
Registration/plates  F                 5.217391
                     M                11.028316
Seat belt            F                 1.796407
                     M                 3.018268
Speeding             F                 0.728445
                     M                 2.777003
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [40]:
ri2.groupby(["search_type"])["search_conducted"].count()

search_type
Incident to Arrest                                        707
Incident to Arrest,Inventory                               65
Incident to Arrest,Inventory,Probable Cause                18
Incident to Arrest,Inventory,Protective Frisk               7
Incident to Arrest,Probable Cause                          63
Incident to Arrest,Probable Cause,Protective Frisk         11
Incident to Arrest,Probable Cause,Reasonable Suspicion      4
Incident to Arrest,Protective Frisk                        18
Incident to Arrest,Reasonable Suspicion                     3
Inventory                                                 114
Inventory,Probable Cause                                   14
Inventory,Probable Cause,Protective Frisk                   2
Inventory,Probable Cause,Reasonable Suspicion               2
Inventory,Protective Frisk                                  8
Inventory,Reasonable Suspicion                              2
Probable Cause                                            444
Probable Cause,Protective Frisk                            19
Probable Cause,Protective Frisk,Reasonable Suspicion        3
Probable Cause,Reasonable Suspicion                        36
Protective Frisk                                           90
Protective Frisk,Reasonable Suspicion                      10
Reasonable Suspicion                                      114
Name: search_conducted, dtype: int64

In [50]:
ri2.search_type.value_counts()

Incident to Arrest                                        707
Probable Cause                                            444
Reasonable Suspicion                                      114
Inventory                                                 114
Protective Frisk                                           90
Incident to Arrest,Inventory                               65
Incident to Arrest,Probable Cause                          63
Probable Cause,Reasonable Suspicion                        36
Probable Cause,Protective Frisk                            19
Incident to Arrest,Protective Frisk                        18
Incident to Arrest,Inventory,Probable Cause                18
Inventory,Probable Cause                                   14
Incident to Arrest,Probable Cause,Protective Frisk         11
Protective Frisk,Reasonable Suspicion                      10
Inventory,Protective Frisk                                  8
Incident to Arrest,Inventory,Protective Frisk               7
Incident to Arrest,Probable Cause,Reasonable Suspicion      4
Incident to Arrest,Reasonable Suspicion                     3
Probable Cause,Protective Frisk,Reasonable Suspicion        3
Inventory,Probable Cause,Reasonable Suspicion               2
Inventory,Probable Cause,Protective Frisk                   2
Inventory,Reasonable Suspicion                              2
Name: search_type, dtype: int64

In [41]:
ri2["frisk"] = ri2["search_type"].str.contains("Protective Frisk", na=False, regex = False)

In [42]:
ri2["frisk"]

stop_datetime
2013-07-05 13:47:00    False
2012-12-22 22:03:00    False
2011-02-23 19:47:00    False
2015-11-07 10:16:00    False
2009-03-28 01:11:00    False
                       ...
2005-11-13 09:40:00    False
2014-01-19 11:11:00    False
2015-06-12 11:35:00    False
2006-09-26 14:10:00    False
2007-03-05 09:30:00    False
Name: frisk, Length: 47153, dtype: bool

In [43]:
ri2["frisk"].sum()

168

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [44]:
risearched = ri2[ri2["search_conducted"]==True]

In [45]:
risearched["frisk"].mean()*100

9.578107183580387

In [46]:
risearched.groupby("driver_gender")["frisk"].mean()*100

driver_gender
F    7.476636
M    9.870130
Name: frisk, dtype: float64

In [47]:
risearched.groupby("driver_gender")["frisk"].count()

driver_gender
F     214
M    1540
Name: frisk, dtype: int64